* {
  box-sizing: border-box;
  margin: 0;
}

.letters-container {
  background-image: linear-gradient(to right, #1d976c, #93f9b9);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 20px;
}

.calculator-image {
  width: 80%;
  padding: 20px;
}

h1 {
  font-size: 35px;
  margin-bottom: 20px;
}

.word-counter {
  background-color: #fff;
  color: #219a6f;
  padding: 15px 20px;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
}

input {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  height: 40px;
  width: 250px;
  margin-top: 10px;
}
